:root{
    --white-color:#f1f1f1;
    --black-color:#1a1a1a;
    }

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--white-color);}
.navbar {
    display: flex;
    justify-content: right;
    background-color: var(--black-color);
    padding: 8px 12px;
}
.navbar_login li{
    
    list-style-type: none;
}

