html{
    --white-color : #f1f1f1 ;
    --black-color : #1a1a1a ;
}
body{margin: 0 auto;
    background-color: var(--black-color);}

.sec1{ margin: 0 15px;}
.update,.popu{
    color: var(--white-color);
    margin: 50px 0 20px 5px;
}

.pic1, .pic2 , .pic3, .pic4{
    margin: 20px;
}
.rank-area{
position: absolute;
right: 0;
bottom: -32px;
left: 0;
z-index: 2;
height: 76px;
text-align: left;
transform: translateZ(0);
z-index: 20;}


